body {
    margin: 0;
    padding: 0;
    background-color: #222222;
}

.add-todos {
    max-width: 1168px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #ffffff;
}

.todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-input, #btn-todo {
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 19px;
}

#btn-todo {
    cursor: pointer;
    background-color: #E35905;
    color: #ffffff;
}

.todos-item {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 20px auto;
    background-color: crimson;
    padding: 15px;
}

.todos-item.checked {
    background-color: darkgray;
    opacity: 0.3;
}
.todos-item.delition {
    animation: opacity 1s  ease-in-out;
}

.todo-item {
    color: #ffffff;
    font-size: 19px;
}
.btn-complete {
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffffff;
    color: crimson;
}

@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}